body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0; 
    z-index: 10;
}

#sidebar, #noteSelector {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 70px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

#noteSelector {
    left: 80px; 
    display: none; 
    border-left: solid 1px black;
}

.button {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}

.button.active {
    border: 2px solid #555; 
}

.noteIcon {
    width: 60px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    transform: 0.2s;
}

.noteIcon:hover{
    transform: scale(1.1);
}

#board {
    position: absolute;
    left: 170px; 
    top: 60px;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 392px);
    grid-auto-rows: 392px;
    gap: 10px;
    padding: 10px;
    overflow-y: auto; 
    align-content: start; 
}

.sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 348px;
    height: 353px; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

textarea {
    width: 65%;
    height: 65%;
    border: none;
    padding-top: 20px;
    background: transparent; 
    resize: none;
    padding: 5px;
    outline: none;
}

.button#noteButton {
    background-size: 50px 50px; 
    background-repeat: no-repeat; 
    background-position: center; 
    transform: 0.2s;
}

.button#noteButton:hover {
    transform: scale(1.1);
}

.button#helpButton {
    background-size: 50px 50px; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-bottom: 50px;
    transform: 0.2s;
}
.button#helpButton:hover {
    transform: scale(1.1);
}

.button#textFormatButton {
    background-size: 40px 40px; 
    background-repeat: no-repeat; 
    background-position: center;
    transform: 0.2s;
}

.button#textFormatButton:hover {
    transform: scale(1.1);
}

.button#shareButton {
    background-size: 40px 40px; 
    background-repeat: no-repeat;
    background-position: center; 
    transform: 0.2s;
}

.button#shareButton:hover {
    transform: scale(1.1);
}

.button#removeButton {
    background-size: 30px 30px; 
    background-repeat: no-repeat; 
    background-position: center; 
    border-color: red;
    transform: 0.2s;
}

.button#removeButton:hover {
    transform: scale(1.2);
}

.button#saveButton {
    background-size: 40px 40px; 
    background-repeat: no-repeat; 
    background-position: center; 
    transform: 0.2s;
}

.button#saveButton:hover {
    transform: scale(1.2);
}

.button#clearStorageButton {
    background-size: 45px 45px; 
    background-repeat: no-repeat; 
    background-position: center; 
    transform: 0.2s;
}

.button#clearStorageButton:hover {
    transform: scale(1.2);
}

.button#toggleBorderButton {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center; 
    transform: 0.2s;
}

.button#toggleBorderButton:hover {
    transform: scale(1.1);
}

.button#addNoteButton {
    width: 35px;
    height: 35px;
    border: solid 1px black;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center; 
    margin-top: 10px;
    transform: 0.2s;
}

.button#addNoteButton:hover {
    transform: scale(1.1);
}

.grid-cell {
    position: relative;
    width: 387px;
    height: 392px;
    border: 1px dashed #d6d6d6;
}

.grid-cell.highlight {
    background-color: rgba(173, 216, 230, 0.5); 
}

/* Styles the scrollbar track for textareas and divs in .sticky */
.sticky textarea::-webkit-scrollbar-track,
.sticky div::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

/* Styles the scrollbar thumb for textareas and divs in .sticky */
.sticky textarea::-webkit-scrollbar-thumb,
.sticky div::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

/* Styles the scrollbar itself for textareas and divs in .sticky */
.sticky textarea::-webkit-scrollbar,
.sticky div::-webkit-scrollbar {
    width: 8px; 
    background-color: #f0f0f0; 
    border-radius: 10px;
}

/* Additional styling for the scrollbar corner for textareas and divs in .sticky */
.sticky textarea::-webkit-scrollbar-corner,
.sticky div::-webkit-scrollbar-corner {
    background-color: #f0f0f0; 
    border-radius: 10px;
}

.help-button {
    width: 30px;
    height: 30px;
    border-radius: 30px; 
    background-color: #e0e0e0;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; 
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: white;
    padding: 20px;
    max-width: 765px; 
    width: 100%;
    max-height: 700px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;
}

.popup-content h2{
    text-align:center;
}

.popup-content h3{
    text-align:center;
}

.popup-content p{
    text-align:center;
    padding-left: 50px;
    padding-right: 50px;
}

.close-popup-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
    transform: 0.2s;
}

.close-popup-button:hover {
    transform: scale(1.05);
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#iconedlist{
    list-style-type: none;
}

.sticky .gear-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('https://raw.githubusercontent.com/razvanpf/Images/main/gearicon.png');
    background-size: cover;
    z-index: 10;
    transform: 0.2s;
}

.sticky .gear-icon:hover{
    transform: scale(1.05);
}

.settings-popup {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
    top: 40px;
    right: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.settings-popup input[type="date"] {
    margin-left: 5px; 
}

.settings-popup label {
    display: block;
    margin: 10px 0;
}

.settings-popup input[type="checkbox"] {
    margin-right: 5px;
}

.settings-popup input[type="date"],
.settings-popup input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    display: block;
}

.save-button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transform: 0.2s;
}

.save-button:hover{
    transform: scale(1.02);
}

.settings-popup.active {
    display: block;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}

#filterBar {
    position: absolute;
    left: 1px; 
    max-width: 1575px ;
    width: 100%;
    top: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    z-index: 100; 
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#filterBar input[type="text"], #filterBar input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    width: 200px; 
}

#filterBar button {
    padding: 8px 16px;
    margin: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transform: 0.2s;
}
#filterBar button:hover {
    transform: scale(1.1);
}

/*.notification {
 Notification styling is done inside JS
 */

/* Style for confirmation popup buttons */
.confirm-button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 5px;
    width: 100px; 
    padding: 10px 0;
    text-align: center;
}

.confirm-button:hover {
    transform: scale(1.05);
}

.yes-button {
    border: 1px solid red;
    color: red;
    background-color: transparent;
}

.cancel-button {
    border: 1px solid blue;
    color: blue;
    background-color: transparent;
}

.confirmpopup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px; 
}

.warning {
    margin-top: 5px;
    font-size: 12px;
}

.date-display {
    position: absolute;
    bottom: 5px; 
    left: 5px; 
    right: 5px; 
    text-align: center;
    color: #333; 
    font-size: 12px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

label {
    margin-right: 5px; 
}

input[type="date"] {
    margin-left: 5px;
}

.text-toolbar {
    position: absolute;
    top: 70px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.text-toolbar select,
.text-toolbar button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.text-toolbar button.format-button {
    font-size: 16px;
    border: none;
    background: none;
}

.text-toolbar.hidden {
    display: none;
}

.editable-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    display: block; 
    padding: 5px;
    overflow: auto;
    background: transparent; 
    white-space: pre-wrap; 
    word-wrap: break-word;
    outline: none; 
}

.editable-textarea {
    width: 80%;
    height: 80%;
    border: none;
    resize: none;
    padding: 5px;
    background: transparent;
    outline: none;
    overflow: auto;
    white-space: pre-wrap;
}

.editable-textarea::selection {
    background: rgba(0, 123, 255, 0.3); 
}

.editable-text a {
    cursor: pointer; 
}

#customUrlInput {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#urlInputField {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#linkEditorPopup {
    display: none;
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    width: auto;
    max-width: 300px; 
}

#linkEditorPopup input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#linkEditorPopup button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    margin: 5px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
}

#linkEditorPopup button:hover {
    background-color: #45a049;
}

.label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}


/* HERE STARTS MOBILE SPECIFIC CSS */
@media (max-width: 767px) {
    /* Adjust sidebar and note selector */
    #sidebar {
        width: 70px; 
        z-index: 11;
    }

    #noteSelector {
        left: 0; 
        width: 70px; 
        display: block; 
        z-index: 15; 
    }

    /* Positioning the filter bar directly below the sidebar on mobile */
    #filterBar {
        position: fixed;
        top: 2;
        left: 70px; 
        margin-left: 0px !important;
        right: 0;
        display: flex;
        max-width: 500px;
        flex-direction: column; 
        padding: 10px;
        box-sizing: border-box; 
        z-index: 10; 
        background-color: #f0f0f0; 
    }

    #filterBar input[type="text"], 
    #filterBar input[type="date"], 
    #filterBar button {
        width: 50%; 
        margin-top: 5px; 
    }

    /* Adjust the board layout */
    #board {
        top: calc(180px + 110px); 
        left: 70px; 
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-x: hidden; 
        overflow-y: auto; 
        align-items: center;
    }

    .grid-cell {
        width: 300px;
        max-width: 500px;
        min-height: 300px;
        height: 100vh; 
        margin-bottom: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .sticky {
        width: 75%; 
        height: auto; 
        min-height: 70%; 
        display: flex;
        flex-direction: column; /* Stack children elements vertically */
        justify-content: center;
        align-items: center;
        padding: 20px; 
    }

    /* Ensure text areas within sticky notes expand as needed */
    .editable-textarea, .editable-text {
        height: auto; 
        min-height: 50%;
        overflow-y: auto; 
    }

    .settings-popup {
        left: 10px;
    }

    label[for="fromDateInput"] {
        padding-top: 5px;
    }

    label[for="toDateInput"] {
        padding-top: 5px;
    }

    .text-toolbar {
        position: fixed;
        top: 0;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Offset by half its width */
        width: 100%; /* Optional: Make it full width if desired */
        box-shadow: 0 4px 6px rgba(0,0,0,0.6)
    }

}
/* End of Mobile Specific Styles */